* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Style the body of html*/
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
/* Style the body content of html*/
.container {
	max-width: 800px;
    min-width: 400;
	width: 50%;
	background: #FFF;
	padding: 50px;
	border-radius: 20px;
	position: relative;
	top: 50%;
	left: 57%;
}
/* Styling for user icon pic*/
.pic {
	position: absolute;
	top: 0;
	left: 50%;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	line-height: 60px;
	border: 10px solid #4d3278;
	background: linear-gradient(to right, #9d50bb, #6e48aa);
	transform: translate(-50%, -50%);
}
/* Styling the form, title and label of the form*/
.form {
	display: flex;
	flex-direction: column;
}
.title {
	text-align: center;
	margin-top: 30px;
}
label,
.links,
button {
	margin-top: 20px;
}
label {
	margin-top: 20px;
	font-size: 18px;
	color: rgb(77, 77, 77);
	font-weight: 600;
}
/* Style the email and password field */
.input {
	padding: 8px;
	outline: none;
	border: 0;
	background: #EEE;
}
input{
    font-family: Arial,FontAwesome;
    font-size: 15px;  
	text-transform: none;
}
/* Styling the button */
button {
	background: linear-gradient(to right, #9d50bb, #6e48aa);
	padding: 8px;
	border: 0;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;    
}
.btn-rounded{
    border-radius: 30px;
    width: 30%;
}
/* Styling the <a> tag content */
.sign-up{
	text-align: center;
	font-family: Arial;
}
/* Giving color to display error message*/
.error{
	color: red;
}
/* Styling the position for eye icon*/
.eyeicon {
    position: absolute;
	margin-top: 25.5%;
	margin-bottom: 80%;
	margin-left: 75%;
    cursor: pointer;
}