<!-- Define heading of home page -->
<div class="heading">
	<h3>Get Educated Online</h3>
	<h3>From Your Home</h3>
</div>
	<!-- Define the slideshow container -->
	<div id="slideshow">
		<div class="slide-wrapper">
			<!-- Define each of the slides of the content -->
			<div class="slide">
				<h2 class="slide-number"><b>BETTER LEARNING ENVIRONMENT</b></h2>
                <h1 class="slide-number"><b>HELPING KIDS GROW</b></h1>
                <h3 class="slide-number"><b>WE PROVIDE AMAZING DEVELOPMENT OPPORTUNITIES</b></h3>
			</div>
			<div class="slide">
                <h3 class="slide-number"><b>QUALITY EDUCATION FOR</b></h3>
				<h1 class="slide-number"><b>CHILDREN'S SUCCESS</b></h1>
                <h2 class="slide-number"><b>SINCE 1999</b></h2>
			</div>
			<div class="slide">
				<h3 class="slide-number"><b>A VARIETY OF</b></h3>
				<h1 class="slide-number"><b>ONLINE CLASSES</b></h1>
                <h2 class="slide-number"><b>WITH QUALIFIED TEACHERS</b></h2>
			</div>
		</div>
	</div>
