/* Style for body of html */
body {
    font-family: Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
    font-size: 80;
}
/* Style for heading */
.heading{
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    background-color:  rgb(133, 126, 233);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    margin-left: 32%;
}
/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    height: 400px;
    width: 728px;
    margin: 0 auto;
    margin-top: 5%;
    background: linear-gradient(to right, #18e629, rgb(233, 126, 188) );
}
/* Style each of the sides with a fixed width and height */
.slide {
    float: left;
    height: 450px;
    width: 728px;
    font-size: 80%;
    margin-top: 4%;
    text-align: center;
    color: rgb(12, 12, 12);
}
    
/* Add animation to the slides */
.slide-wrapper {
/* Calculate the total width on the basis of number of slides */
    width: calc(728px * 4);
/* Specify the animation with the duration and speed */
    animation: slide 12s ease infinite;
}
    
/* Define the animation for the slideshow */
    @keyframes slide {
/* Calculate the margin-left for each of the slides */
    20% {
        margin-left: 0px;
    }
    40% {
        margin-left: calc(-728px * 1);
    }
    60% {
        margin-left: calc(-728px * 2);
    }
    80% {
        margin-left: calc(-728px * 3);
    }
}
    