/* Style for submit button */
button {
	background: linear-gradient(to right, #9d50bb, #6e48aa);
    padding: 12px 20px;
	border: 0;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;  
	text-align: center;  
}
.btn-rounded{
    border-radius: 30px;
    width: 20%;
    margin-left: 40%;
}
/* Style for body of the form */
.create-student{
    max-width: 800px;
    min-width: 400;
	width: 100%;
	background: #FFF;
	padding: 40px;
	border-radius: 20px;
	position: relative;
	margin-top: 8%;
	top: 50%;
    left: 65%;
    background-color: rgb(0, 255, 234);
}
.heading{
    text-align: center;
    color: #861dbb;
}
