<!-- Create a profile card with upper and lower container -->
      <div class="card-container">
         <div class="upper-container">
            <div class="image-container">
               <img [src] ="'/assets/image/myProfile.jpg'">
            </div>
         </div>
         <div class="lower-container">
            <div>
               <h3>V.GOMATHI</h3>
               <h4>Bachelor of Engineering</h4>
            </div>
            <div>
               <p>I completed java full stack development course and done many programs. 
                Done full stack project on student management system by using 
                spring boot in backend and angular in frontend.</p>
            </div>
            <div>
               <a href="home-page" class="btn">Back</a>
            </div>
         </div>
      </div>
