/* Style the body of the html */
body{
    margin: 0px;
    padding: 0px;
    background: #f1f1f1;
    font-family: arial;
    box-sizing: border-box;
    }
/* Styling the container of the card */  
    .card-container{
    width: 400px;
    height: 490px;
    background: #FFF;
    border-radius: 6px;
    position: absolute;
    left: 75%;
    margin-top: 24%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
    }
/* Styling the image container, upper and lower container*/
    .upper-container{
    height: 100px;
    background: #7F00FF;
    }
    .image-container{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 5px;
    transform: translate(150px,40px);
    }
    .image-container img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    }
    .lower-container{
    height: 280px;
    background: #FFF;
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    }
    .lower-container h3, h4{
    box-sizing: border-box;
    line-height: .7;
    font-weight: lighter;
    }
    .lower-container h4{
    color: #7F00FF;
    opacity: .6;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    }
    .lower-container p{
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    }
/* Styling the lower container button*/
    .lower-container .btn{
    padding: 12px 20px;
    background: #7F00FF;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    transition: all .3s ease-in;
    text-transform: uppercase;
    }
    .lower-container .btn:hover{
    background: transparent;
    color: #7F00FF;
    border: 2px solid #7F00FF;
    }
    